<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <link href="shared.css" type="text/css" rel="stylesheet" />
    <link href="index.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.5.0/build/global/luxon.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <script type="text/javascript" src="constants.js"></script>
    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript" src="dom.js"></script>
    <script type="text/javascript" src="service.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="extras.js"></script>
    <script type="text/javascript" src="../shared/appswidget/appswidget.js"></script>
    <link href="../shared/appswidget/appswidget.css" rel="stylesheet">
    <title>Track Your Life</title>
  </head>
  <body ng-app="tracking" ng-controller="trackingCtrl">
    <div id="loadingMessage">
      Loading&nbsp;<span class="loadingItem">configs</span>... 
      <div id="loading"></div>
    </div>
    <table class="buttons">
      <tr>
        <td><input type="date" class="date"/></td><td><div class="todayButton" ng-click="resetDateInputToToday()">📅</div></td>
      </tr>
      <tr><td class="note hidden" colspan="3">(Still logging for {{yesterday}})</td></tr>
      <tr ng-repeat="config in buttons.visible">
        <td><button ng-click="handleButtonClick(config.name)" 
                ng-style="{'background-color': config.color}" 
                id="{{config.name}}"
                class="{{config.isInactive ? 'inactive' : ''}}">
          <span class="icon">{{config.displayIcon}}</span>
          <span class="text">{{config.viewName}}</span>
        </button>
        <div class="typeIcon">{{config.type === 1 ? '#' : (config.type === 2 ? '⤇' : '⟳')}}</div></td>
        <td><div class="data" id="{{config.name}}" ng-style="{'border-color': config.borderColor}" ng-click="openLogPanel(config.name)">
          {{config.remainingStr}}
        </div></td>
        <td><a id="{{config.name}}" href="./dash.html?c={{config.name}}" class="goal {{config.goal ? '' : 'nogoal '}}
          {{(config.type === 1 && config.remaining < config.goal) || 
            (config.type === 2 && config.remaining >= config.goal) ? '' : 'complete'}}">
          {{config.goal ? 
            ((config.type === 1 && config.remaining < config.goal) || 
              (config.type === 2 && config.remaining >= config.goal) ? '(' + config.goalStr + ')' : '☺')
            : '↝'}}
        </a></td>
      </tr>
    </table>

    <!-- Input panels -->
    <div class="panelCloseOverlay hidden" ng-click="handleButtonClick('close')"></div>
    <div ng-repeat="panelConfig in buttons.hidden" id="{{panelConfig.name}}" class="buttons hidden panel">
      <div class="row subtitle">
        Log parent as well: <input type="checkbox" checked="true" class="logParentCb" />
      </div>
      <div  ng-repeat="config in panelConfig.childList" class="row">
        <button ng-click="handleButtonClick(config.name)" ng-style="{'background-color': config.color}">
          {{config.displayIcon}}<span class="text">{{config.viewName}}</span>
        </button>
        <div class="typeIcon">{{config.type === 1 ? '#' : (config.type === 2 ? '⤇' : '⟳')}}</div>
        <div class="data" id="{{config.name}}" ng-style="{'border-color': config.borderColor}" ng-click="openLogPanel(config.name)">
          {{config.remaining}}
        </div>
        <a id="{{config.name}}" href="./dash.html?c={{config.name}}" class="goal {{config.goal ? '' : 'nogoal '}}
          {{(config.type === 1 && config.remaining < config.goal) || 
            (config.type === 2 && config.remaining >= config.goal) ? '' : 'complete'}}">
          {{config.goal ? 
              ((config.type === 1 && config.remaining < config.goal) || 
                (config.type === 2 && config.remaining >= config.goal) ? '(' + config.goalStr + ')' : '☺')
              : '↝'}}
        </a>
      </div>
    </div>
    <div class="buttons panel hidden" id="variable">
      <div class="header"></div>
      <input type="number" class="amount" placeholder="amount" />
      <button class="amountSubmit" ng-click="handleButtonClick('variable')">Submit</button>
    </div>

    <!-- Log panels -->
    <div ng-repeat="panelConfig in buttons.all" id="{{panelConfig.name}}log" class="panel hidden">
      <div class="header">Log for {{panelConfig.viewName}}</div>
      <hr />
      <table class="logs"></table>
    </div>

    <div id="appsWidgetButton" title="Tracking apps shortcut"></div>
  </body>
</html>
    